{{#if mensajes.length}}
<h3> Messages </h3>

<div class="table-responsive">
	<table>
		{{#each mensajes}}
		<tr>
			<td>•</td>
			<td style="color: darkblue"><b>{{this.author}}</b></td>
			<td stlye="color: brown">[{{this.date}}]: </td>
			<td style="color: green"><i>{{this.message}}</i></td>
		</tr>
		{{/each}}
	</table>
</div>

{{ else }}
<h2 class="alert alert-warning">No Messages </h2>
{{/if}}