//- <!DOCTYPE html>
//- <html lang="en">
//-   <head>
//-     <meta charset="UTF-8" />
//-     <meta http-equiv="X-UA-Compatible" content="IE=edge" />
//-     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
//-     <title>Clase08</title>
//-   </head>
//-   <body>
//-     <div class='container'>
//-       <h1 class="title">Ingrese el producto</h1>
//-       <form action="/api/products" method="POST" class="form">
//-         <input type="text" name="title" placeholder="nombre" class='input' />
//-         <input type="number" name="price" placeholder="precio" class='input' />
//-         <input type="text" name="thumbnail" placeholder="link a la imagen" class='input'  autocomplete='off'/>
//-         <button class='button'>Enviar</button>
//-       </form>
//-     </div>
//-   </body>
//- </html>

html 
    head 
        title Nuevo producto
    body 
        div(class='container')
            h1 Ingrese el producto
            form(action="/api/", method="post",class="form")
                input(type="text", name="title", placeholder="nombre", class='input')
                input(type="number", name="price", placeholder="precio", class='input')
                input(type="text", name="thumbnail", placeholder="link a la imagen", class='input',autocomplete='off')
                button(class='button') Enviar 
